force-app/main/default/flows/Create_Account_when_Missing_on_Contact_SCREEN.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Account_Contact_Relationship</name>
        <label>Assign Account Contact Relationship</label>
        <locationX>826</locationX>
        <locationY>364</locationY>
        <assignmentItems>
            <assignToReference>sAccountContactRelationship.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sContact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sAccountContactRelationship.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sAccountContactRelationship.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Account_Contact_Relationship</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Account_Info</name>
        <label>Assign Account Info</label>
        <locationX>403</locationX>
        <locationY>192</locationY>
        <assignmentItems>
            <assignToReference>sAccount.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewAccountName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sAccount.New_TSC_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sAccount.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sAccount.Preferred_Payment_type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Credit/Debit Card</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sAccount.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>005d0000001WOeVAAW</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Link_the_Contact_to_Account</name>
        <label>Link the Contact to Account</label>
        <locationX>398</locationX>
        <locationY>453</locationY>
        <assignmentItems>
            <assignToReference>sContact.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Contact_Information</name>
        <label>Set Contact Information</label>
        <locationX>230</locationX>
        <locationY>363</locationY>
        <assignmentItems>
            <assignToReference>sContact.NSSCCConnector__Contact_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Created</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Individual_Record_Type</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_Flow</name>
        <label>Account Flow</label>
        <locationX>398</locationX>
        <locationY>72</locationY>
        <defaultConnector>
            <targetReference>Assign_Account_Info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reassignment_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>frmAccountFlow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reassign</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Organization_Account</targetReference>
            </connector>
            <label>Reassignment Required</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Account_Contact_Relationship</name>
        <label>Check Account Contact Relationship</label>
        <locationX>813</locationX>
        <locationY>207</locationY>
        <defaultConnector>
            <targetReference>Assign_Account_Contact_Relationship</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sAccountContactRelationship.AccountId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>sContact.AccountId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sAccountContactRelationship.ContactId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>sContact.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account_Info</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Account_Record_Type</name>
        <label>Check Account Record Type</label>
        <locationX>798</locationX>
        <locationY>54</locationY>
        <defaultConnector>
            <targetReference>Convert_to_Individual</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>notIndividual_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOrgAccount.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>sRecordType.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Contact_Relationship</targetReference>
            </connector>
            <label>notIndividual Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contact_Status</name>
        <label>Check Contact Status</label>
        <locationX>153</locationX>
        <locationY>199</locationY>
        <defaultConnector>
            <targetReference>Get_Individual_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsOwnerInactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sContact.Owner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InactiveResponse</targetReference>
            </connector>
            <label>IsOwnerInactive</label>
        </rules>
        <rules>
            <name>Is_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sContact.NSSCCConnector__Contact_Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Contact_Information</targetReference>
            </connector>
            <label>Is Blank</label>
        </rules>
    </decisions>
    <description>Updated to decision to use sContact.ID from frmContactID add Owner Active Check</description>
    <formulas>
        <name>NewAccountName</name>
        <dataType>String</dataType>
        <expression>&quot;The &quot; + {!sContact.FirstName} + &quot; &quot; + {!sContact.LastName} + &quot; Account&quot;</expression>
    </formulas>
    <interviewLabel>Create Account when Missing on Contact - SCREEN {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Account when Missing on Contact - SCREEN</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Account</name>
        <label>Create Account</label>
        <locationX>402</locationX>
        <locationY>319</locationY>
        <connector>
            <targetReference>Link_the_Contact_to_Account</targetReference>
        </connector>
        <inputReference>sAccount</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Account_Contact_Relationship</name>
        <label>Create Account Contact Relationship</label>
        <locationX>659</locationX>
        <locationY>329</locationY>
        <connector>
            <targetReference>Assign_Account_Info</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Account_Info</targetReference>
        </faultConnector>
        <inputReference>sAccountContactRelationship</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Contact_Relationship</name>
        <label>Get Account Contact Relationship</label>
        <locationX>1060</locationX>
        <locationY>227</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Account_Contact_Relationship</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sContact.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmContactId</elementReference>
            </value>
        </filters>
        <object>AccountContactRelation</object>
        <outputReference>sAccountContactRelationship</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>IsActive</queriedFields>
        <queriedFields>Roles</queriedFields>
        <queriedFields>Display_Payment_Info__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>171</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Contact_Status</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>sContact</outputReference>
        <queriedFields>LastName</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>NSSCCConnector__Contact_Status__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Individual_Record_Type</name>
        <label>Get Individual Record Type</label>
        <locationX>267</locationX>
        <locationY>128</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Flow</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Individual_Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>sRecordType</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Organization_Account</name>
        <label>Get Organization Account</label>
        <locationX>559</locationX>
        <locationY>60</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Account_Record_Type</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sContact.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>sOrgAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>401</locationX>
        <locationY>586</locationY>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SuccessScreen_0</targetReference>
        </faultConnector>
        <inputReference>sContact</inputReference>
    </recordUpdates>
    <screens>
        <description>Move Contact to an Individual Account</description>
        <name>Convert_to_Individual</name>
        <label>Convert to Individual</label>
        <locationX>1118</locationX>
        <locationY>55</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>startMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Contact you are trying to convert is already an Individual Account&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>InactiveResponse</name>
        <label>InactiveResponse</label>
        <locationX>39</locationX>
        <locationY>352</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>InactiveOwnerMessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;The Contact Owner is &lt;/b&gt;&lt;b style=&quot;font-size: 16px; color: rgb(241, 9, 9);&quot;&gt;INACTIVE&lt;/b&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Please change the Contact Owner and try again.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SuccessScreen</name>
        <label>SuccessScreen</label>
        <locationX>578</locationX>
        <locationY>584</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p&gt;Successfully Converted&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SuccessScreen_0</name>
        <label>SuccessScreen</label>
        <locationX>243</locationX>
        <locationY>588</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Failure</name>
            <fieldText>&lt;p&gt;Failed - check to see if the account contact relationship already exists &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Contact</startElementReference>
    <status>Active</status>
    <variables>
        <name>frmAccountFlow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Reassign</stringValue>
        </value>
    </variables>
    <variables>
        <name>frmAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The ID of the new contact</description>
        <name>frmContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>sAccountContactRelationship</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <description>The Contact record without the Account</description>
        <name>sContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>sOrgAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>sRecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
</Flow>
