force-app/main/default/flows/Manual_Update_of_Fulfillment_Items_to_Complete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Do_Nothing</name>
        <label>Do Nothing</label>
        <locationX>503</locationX>
        <locationY>96</locationY>
        <actionName>Donothing</actionName>
        <actionType>apex</actionType>
    </actionCalls>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>481</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>outFulfillmentItem</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sFulfillmentItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X100_Counter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Variables</name>
        <label>Reset Variables</label>
        <locationX>784</locationX>
        <locationY>597</locationY>
        <assignmentItems>
            <assignToReference>colFulfillmentItem</assignToReference>
            <operator>RemoveAll</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Fulfillment_Item_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Fulfillment_Item_Status</name>
        <label>Set Fulfillment Item Status</label>
        <locationX>640</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>sFulfillmentItem.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fCountPlus1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>pInvoiced</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Invoiced</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Continue</name>
        <label>Continue</label>
        <locationX>358</locationX>
        <locationY>155</locationY>
        <defaultConnector>
            <targetReference>Do_Nothing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Confirm</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Fulfillment_Items</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CounterCheck</name>
        <label>CounterCheck</label>
        <locationX>625</locationX>
        <locationY>421</locationY>
        <defaultConnector>
            <targetReference>Set_Fulfillment_Item_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is100</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Counter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Fulfillment_Items</targetReference>
            </connector>
            <label>is100</label>
        </rules>
    </decisions>
    <description>Used to trigger set of Fulfillment Records to Complete</description>
    <dynamicChoiceSets>
        <name>Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>Fulfillment_Item__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>fCountPlus1</name>
        <dataType>Number</dataType>
        <expression>{!Counter} + 1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Manual Update of Fulfillment Items to Complete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update of Fulfillment Items to Complete - MANUAL</label>
    <loops>
        <description>Count records in range</description>
        <name>X100_Counter</name>
        <label>100 Counter</label>
        <locationX>482</locationX>
        <locationY>351</locationY>
        <assignNextValueToReference>sFulfillmentItem</assignNextValueToReference>
        <collectionReference>colFulfillmentItem</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CounterCheck</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Fulfillment_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Fulfillment_Items</name>
        <label>Get Fulfillment Items</label>
        <locationX>369</locationX>
        <locationY>351</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>X100_Counter</targetReference>
        </connector>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </filters>
        <filters>
            <field>Transaction_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Lowest_Date_and_Time</elementReference>
            </value>
        </filters>
        <filters>
            <field>Transaction_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Max_Date_and_Time</elementReference>
            </value>
        </filters>
        <object>Fulfillment_Item__c</object>
        <outputReference>colFulfillmentItem</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Fulfillment_Items</name>
        <label>Update Fulfillment Items</label>
        <locationX>715</locationX>
        <locationY>275</locationY>
        <inputReference>outFulfillmentItem</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Fulfillment_Items_0</name>
        <label>Update Fulfillment Items</label>
        <locationX>784</locationX>
        <locationY>425</locationY>
        <connector>
            <targetReference>Reset_Variables</targetReference>
        </connector>
        <inputReference>outFulfillmentItem</inputReference>
    </recordUpdates>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>284</locationX>
        <locationY>55</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Continue</targetReference>
        </connector>
        <fields>
            <name>ConfirmScreen</name>
            <fieldText>&lt;p&gt;&lt;b&gt;From Date:&lt;/b&gt;   {!Lowest_Date_and_Time}&lt;/p&gt;&lt;p&gt;&lt;b&gt;To Date:&lt;/b&gt;         {!Max_Date_and_Time}&lt;/p&gt;&lt;p&gt;&lt;b&gt;From Status: &lt;/b&gt;{!Status}&lt;/p&gt;&lt;p&gt;&lt;b&gt;To Status:      &lt;/b&gt;Complete&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confirm</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Confirm</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Send_Fulfilment_to_Complete</name>
        <label>Send Fulfilment to Complete</label>
        <locationX>165</locationX>
        <locationY>55</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <fields>
            <name>Lowest_Date_and_Time</name>
            <dataType>DateTime</dataType>
            <fieldText>Lowest Date and Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Max_Date_and_Time</name>
            <dataType>DateTime</dataType>
            <fieldText>Max Date and Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Status_to_Change</name>
            <choiceReferences>Status</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status to Change</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Send_Fulfilment_to_Complete</startElementReference>
    <status>Draft</status>
    <variables>
        <name>colFulfillmentItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Fulfillment_Item__c</objectType>
    </variables>
    <variables>
        <name>Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>LowDateandTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outFulfillmentItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Fulfillment_Item__c</objectType>
    </variables>
    <variables>
        <name>sFulfillmentItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Fulfillment_Item__c</objectType>
    </variables>
</Flow>
