force-app/main/default/flows/Process_Open_Orders_file_MANUAL.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>end</name>
        <label>end</label>
        <locationX>252</locationX>
        <locationY>264</locationY>
        <actionName>Donothing</actionName>
        <actionType>apex</actionType>
    </actionCalls>
    <assignments>
        <name>Set_Count</name>
        <label>Set Count</label>
        <locationX>340</locationX>
        <locationY>140</locationY>
        <assignmentItems>
            <assignToReference>cCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_to_Process</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Open_Orders</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Open_Order_Assignment</name>
        <label>Update Open Order Assignment</label>
        <locationX>797</locationX>
        <locationY>216</locationY>
        <assignmentItems>
            <assignToReference>vStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Updated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fCount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Work</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Work</name>
        <label>Check Work</label>
        <locationX>791</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Update_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WanttoCheck</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Prior_to_Execution</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Checker</targetReference>
            </connector>
            <label>WanttoCheck</label>
        </rules>
    </decisions>
    <decisions>
        <name>Count_0</name>
        <label>Count&gt;0</label>
        <locationX>418</locationX>
        <locationY>265</locationY>
        <defaultConnector>
            <targetReference>end</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsCount_GT_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Open_Orders</targetReference>
            </connector>
            <label>IsCount GT 0</label>
        </rules>
    </decisions>
    <description>Update Account Open Order Amount based on records in Open Order File</description>
    <formulas>
        <name>fCount</name>
        <dataType>Number</dataType>
        <expression>{!cCount} - 1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fNewOpenOrderAmount</name>
        <dataType>Number</dataType>
        <expression>{!sAccount.Open_Order_Amount__c} - {!sOrder.ccrz__TotalAmount__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Process Open Orders file - MANUAL {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Process Open Orders file - MANUAL</label>
    <loops>
        <name>Loop_through_Open_Orders</name>
        <label>Loop through Open Orders</label>
        <locationX>416</locationX>
        <locationY>50</locationY>
        <assignNextValueToReference>sOpenOrder</assignNextValueToReference>
        <collectionReference>Get_Open_Order</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Order</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>621</locationX>
        <locationY>236</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Open_Order_Assignment</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sOrder.ccrz__Account__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>sAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Open_Order_Amount__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Open_Order</name>
        <label>Get Open Order</label>
        <locationX>270</locationX>
        <locationY>46</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Count</targetReference>
        </connector>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Invoiced</stringValue>
            </value>
        </filters>
        <object>Open_Order_Processing__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CC_Order__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Invoice_Amount__c</queriedFields>
        <queriedFields>Error_Message__c</queriedFields>
        <queriedFields>Invoice_Date__c</queriedFields>
        <queriedFields>CFS_InvoiceCredit__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Order</name>
        <label>Get Order</label>
        <locationX>620</locationX>
        <locationY>61</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sOpenOrder.CC_Order__c</elementReference>
            </value>
        </filters>
        <object>ccrz__E_Order__c</object>
        <outputReference>sOrder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ccrz__Account__c</queriedFields>
        <queriedFields>ccrz__TotalAmount__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>622</locationX>
        <locationY>553</locationY>
        <connector>
            <targetReference>Update_Open_Order</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sOrder.ccrz__Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Open_Order_Amount__c</field>
            <value>
                <elementReference>fNewOpenOrderAmount</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Open_Order</name>
        <label>Update Open Order</label>
        <locationX>428</locationX>
        <locationY>552</locationY>
        <connector>
            <targetReference>Count_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sOpenOrder.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>vStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Open_Order_Processing__c</object>
    </recordUpdates>
    <screens>
        <name>Checker</name>
        <label>Checker</label>
        <locationX>937</locationX>
        <locationY>560</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
        <fields>
            <name>Validation</name>
            <fieldText>&lt;p&gt;{!sAccount.Name}&lt;/p&gt;&lt;p&gt;Order: {!sOrder.Name}&lt;/p&gt;&lt;p&gt;Amount: {!sOrder.ccrz__TotalAmount__c}&lt;/p&gt;&lt;p&gt;Current Open Order Amount: {!sAccount.Open_Order_Amount__c}&lt;/p&gt;&lt;p&gt;New Open Order Amount: {!fNewOpenOrderAmount}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Process_Screen</name>
        <label>Process Screen</label>
        <locationX>168</locationX>
        <locationY>48</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Open_Order</targetReference>
        </connector>
        <fields>
            <name>Number_to_Process</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>20.0</numberValue>
            </defaultValue>
            <fieldText>Number to Process</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;Must be less than or equal to 20&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Number_to_Process} &lt; 21</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>mes</name>
            <fieldText>&lt;p&gt;Max 20&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Check_Prior_to_Execution</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Check Prior to Execution</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Process_Screen</startElementReference>
    <status>Draft</status>
    <variables>
        <name>cCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>sAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>sOpenOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Open_Order_Processing__c</objectType>
    </variables>
    <variables>
        <name>sOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_Order__c</objectType>
    </variables>
    <variables>
        <name>vErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Error</stringValue>
        </value>
    </variables>
</Flow>
