force-app/main/default/flows/Process_Open_Order_from_Invoice.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>ErrOpenOrder</name>
        <label>ErrOpenOrder</label>
        <locationX>193</locationX>
        <locationY>338</locationY>
        <assignmentItems>
            <assignToReference>vErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open Order not ready to be Processed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Open_Order_Processing_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ErrOpenOrder_0</name>
        <label>ErrOpenOrder</label>
        <locationX>406</locationX>
        <locationY>355</locationY>
        <assignmentItems>
            <assignToReference>vErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CC Order Not Found</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Open_Order_Processing_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ErrOpenOrder_0_0</name>
        <label>ErrOpenOrder</label>
        <locationX>576</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>vErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Account Not Found</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Open_Order_Processing_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Open_Order_Processing_Record</name>
        <label>Set Open Order Processing Record</label>
        <locationX>491</locationX>
        <locationY>561</locationY>
        <assignmentItems>
            <assignToReference>Get_Open_Order.Error_Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vErrorMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Open_Order.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Open_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Open_Order_Assignment</name>
        <label>Update Open Order Assignment</label>
        <locationX>713</locationX>
        <locationY>195</locationY>
        <assignmentItems>
            <assignToReference>vStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Updated</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_Found</name>
        <label>Account Found</label>
        <locationX>567</locationX>
        <locationY>202</locationY>
        <defaultConnector>
            <targetReference>ErrOpenOrder_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Record_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Open_Order_Assignment</targetReference>
            </connector>
            <label>Account Record Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Order_Found</name>
        <label>Order Found</label>
        <locationX>396</locationX>
        <locationY>206</locationY>
        <defaultConnector>
            <targetReference>ErrOpenOrder_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OrderFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOrder</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>OrderFound</label>
        </rules>
    </decisions>
    <decisions>
        <name>Process_Record</name>
        <label>Process Record</label>
        <locationX>177</locationX>
        <locationY>208</locationY>
        <defaultConnector>
            <targetReference>ErrOpenOrder</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OpenOrder_Ready_for_Processing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Open_Order.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Invoiced</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Order</targetReference>
            </connector>
            <label>OpenOrder Ready for Processing</label>
        </rules>
    </decisions>
    <formulas>
        <name>fNewOpenOrderAmount</name>
        <dataType>Number</dataType>
        <expression>{!sAccount.Open_Order_Amount__c} - {!sOrder.ccrz__TotalAmount__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Open Order Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Process Open Order from Invoice</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>504</locationX>
        <locationY>59</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Found</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sOrder.ccrz__Account__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>sAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Open_Order_Amount__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Open_Order</name>
        <label>Get Open Order</label>
        <locationX>179</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Process_Record</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmOpenOrderID</elementReference>
            </value>
        </filters>
        <object>Open_Order_Processing__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CC_Order__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Invoice_Amount__c</queriedFields>
        <queriedFields>Error_Message__c</queriedFields>
        <queriedFields>Invoice_Date__c</queriedFields>
        <queriedFields>CFS_InvoiceCredit__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Order</name>
        <label>Get Order</label>
        <locationX>300</locationX>
        <locationY>52</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Order_Found</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Open_Order.CC_Order__c</elementReference>
            </value>
        </filters>
        <object>ccrz__E_Order__c</object>
        <outputReference>sOrder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ccrz__Account__c</queriedFields>
        <queriedFields>ccrz__TotalAmount__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>709</locationX>
        <locationY>559</locationY>
        <connector>
            <targetReference>Set_Open_Order_Processing_Record</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sOrder.ccrz__Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Open_Order_Amount__c</field>
            <value>
                <elementReference>fNewOpenOrderAmount</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Open_Order</name>
        <label>Update Open Order</label>
        <locationX>487</locationX>
        <locationY>700</locationY>
        <inputReference>Get_Open_Order</inputReference>
    </recordUpdates>
    <startElementReference>Get_Open_Order</startElementReference>
    <status>Active</status>
    <variables>
        <name>frmOpenOrderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>sOpenOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Open_Order_Processing__c</objectType>
    </variables>
    <variables>
        <name>sOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_Order__c</objectType>
    </variables>
    <variables>
        <name>vErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Error</stringValue>
        </value>
    </variables>
</Flow>
